body {
  background-color: #f5f7f9;
}
.login-container .page-nav-bar {
  background: linear-gradient(to right, #ff6034, #ee0a24);
}
.login-container .page-nav-bar van-nav-bar__content {
  height: 140px;
}
.login-container .page-nav-bar .van-nav-bar__title {
  color: #fff;
}
.login-container .page-nav-bar .van-nav-bar__text {
  color: #fff;
}
